@model IEnumerable<Demo.Models.pharmacy>

@{
    ViewBag.Title = "showPharmacies";
    var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 10);
    grid.Pager(WebGridPagerModes.All);
}

<h2>Pharmacies</h2>

<style type="text/css">
            /*Here we will add css for style webgrid*/
                .webgrid-table
                {
                    font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
                    font-size: 1.0em;
                    width: 100%;
                    display: table;
                    border-collapse: separate;
                    border: solid 1px #2C3E50;
                    background-color: white;
                }
                .webgrid-table td, th
                {
                    border: 1px solid #2C3E50;
                    padding: 3px 7px 2px;
                }
                .webgrid-header
                {
                    background-color: #2C3E50;
                    color: #FFFFFF;
                    padding-bottom: 4px;
                    padding-top: 5px;
                    text-align: left;
                }
                .webgrid-footer
                {
                }
                .webgrid-row-style
                {
                    padding: 3px 7px 2px;
                }
                .webgrid-alternating-row
                {
                    background-color: #e8d4d4;
                    padding: 3px 7px 2px;
                }
            </style>

            <div id="content">
                @grid.GetHtml(
                tableStyle:"webgrid-table",
                headerStyle:"webgrid-header",
                footerStyle:"webgrid-footer",
                alternatingRowStyle:"webgrid-alternating-row",
                rowStyle:"webgrid-row-style",
                columns:grid.Columns(
                    //here i will add column for serial no
                    grid.Column(header:"Serial No", format:@<text><div>@(item.WebGrid.Rows.IndexOf(item)+1)</div></text>),
                    grid.Column(columnName:"Name",header:"Name"),
                    grid.Column(columnName:"address", header:"Address"),
                    grid.Column(columnName:"Tel",header:"Telephone"),
                    grid.Column(columnName:"Open",header:"Working hours"),
                    grid.Column(header: "Actions", format: (item) => new HtmlString(  
                    Html.ActionLink("Show", "ShowMedicines", new { id = item.id } ) .ToString() ))

                   ))
            </div>
